.qq_logo{
	float:left;
	margin-left: 00px;
}
.qq_logo1{
	float:left;
	margin-top: 14px;
	margin-left: 3px;
}
.qq_logo2{
	float:left;
	margin-top: 6px;
	margin-left:0px;
}
.menu_bar_ul{
    list-style-type: none;
    padding: 0px;
    float: right;
    position: absolute;
   	margin-left: 195px;
   	margin-top: 00px;  	
}
.menu_bar_ul li {
    width: 100px;
    height: 56px;
    text-align: center;
    float: left;
}
.menu_bar_ul li a {
    color: #848789;
    text-decoration: none;
    line-height: 56px;
}
.move{
    height: 4px;
    width: 110px;
    border-top: 4px solid rgb(0,88,163);
    position: absolute;
    left: 0;
    top: 52px;
    transition: left .2.5s ease-in-out 0s;
    -webkit-transition: left .2s ease-in-out 0s;
    -moz-transition: left .2s ease-in-out 0s;
    -o-transition: left .2s ease-in-out 0s;
}
li:nth-child(1):hover~ .move{    
    left: 0px;
}
li:nth-child(2):hover~ .move{
    left: 100px;
}
li:nth-child(3):hover~ .move{
    left: 200px;
}
li:nth-child(4):hover~ .move{
    left: 300px;
}
li:nth-child(5):hover~ .move{
    left: 400px;
}
li:nth-child(6):hover~ .move{
    left: 500px;
}
.soushuo {
	float:left;
	margin-left: 53%;
	margin-top:-65px ;
    height: 70px;
    width: 600px;
}
.parent {
    position: relative;
}
.search {
    width: 300px;
    height: 40px;
    border-radius: 18px;
    outline: none;
    border: 1px solid #ccc;
    padding-left: 20px;
    position: absolute;
}
.btn {
    height: 35px;
    width: 35px;
    position: absolute;
    background: url(../img/4.png) no-repeat ;
    background-size:30px 30px;
    top: 6px;
    left: 285px;
    border: none;
    outline: none;
    cursor: pointer;
}
.denglu{
	float:left;
	margin-left: 77%;
	margin-top: -65px;
}

.lishi{
	float:left;
	margin-left: 83.5%;
	margin-top: -65px;
}
.zhongxin{
	float:left;
	margin-left: 90%;
	margin-top: -65px;
}
.denglu:hover span{
	color: cornflowerblue;
}
.lishi:hover span{
	color: cornflowerblue;
}
.zhongxin:hover span{
	color: cornflowerblue;
}
.p1{
	float: left;
	margin-top:5px;
	margin-right:750px;
	font-size: 25px;
	font-family: cursive;
}
.index_keyframes{
	width:1200px;
	height:600px;
	float: left;
	margin-top: 0px;
	margin-left:5%;
	overflow: hidden;
}
.index_keyframes_img{
	width:7525px;
	height:600px;
	float: left;
	animation: 10s index_keyframes_img infinite;
}
.index_keyframes_img_div{
	/*width=1505px;
	height=600px;*/
	float:left;	
}
@keyframes index_keyframes_img{
	0%,20%{transform: translateX(0px)}
	20.001%,40%{transform: translateX(-1200px)}
	40.001%,60%{transform: translateX(-2400px)}
	60.001%,80%{transform: translateX(-3600px)}
	80.001%,100%{transform: translateX(-4800px)}
}
/*.key_ul{
    list-style-type: none;
    padding: 0px;
    float: right;
    position: absolute;
   	margin-left: 5%;
   	margin-top: 670px;  	
}
.key_ul li {
    width: 50px;
    height: 56px;
    text-align: center;
    float: left;
}
.key_ul li a {
    color: #848789;
    text-decoration: none;
    line-height: 56px;
}

#key_ul li:hover + #test img {
  transform: translateX(1000px);
}*/
/*.key_span{
    list-style-type: none;
    padding: 0px;
   	margin-left: 195px;
   	margin-top: 00px;  	
}
.key_span li {
    width: 120px;
    height: 120px;
    float:left;
    margin-left: 8%;
    margin-top:-100px;
    text-align: center;
    background: linear-gradient(to right,#C0C0C0 18%,#DCDCDC 40%,white 80% );
}
.key_span li a {
    color: #848789;
    text-decoration: none;
    line-height: 56px;
}*/
.p2{
	float: left;
	margin-top:0px;
	margin-right:600px;
	font-size: 25px;
	font-family: cursive;
}
.index_soc{
	width: 100%;
	height:500px;
	/*background: grey;*/
}
.index_soc p:nth-child(1){
	font-size: 40px;
	text-align: center;
}
.index_soc p:nth-child(2){
	font-size: 22px;
	text-align: center;
}
.index_soc_img_all{
	width: 100%;
	height:250px;
/*	background:#F4F4F4F4;*/
	display: flex;
	margin-left: -6%;
}
.index_soc_img{
	width:18%;
	height:220px;
	background:white;
	/*float: left;*/
	margin-left:2%;
	margin-top:1%;
}
.index_soc_img1{
	width:100%;
	height:75%;
	overflow: hidden;
}
.index_soc_img1 img{
	width:100%;
	height:100%;
	transition: all 0.3s;
}
.index_soc_img1 img:hover{
	transform: scale(1.2);
}
.index_soc_img1:hover~ .index_soc_p a{
	color:  #848789;
}
.index_soc_p{
	font-size: 22px;
	text-align: center;
	margin:12px;
}
.index_brand{
	width:100%;
	height:250px;
	margin-top:430px;
}
.index_brand p:nth-child(1){
	font-size: 40px;
	text-align: center;
}
.index_brand p:nth-child(2){
	font-size: 22px;
	text-align: center;
}
.index_brand_img_all{
	width:100%;
	height:100px;
	display: flex;
}
.index_brand_img{
	width:15%;
	height:100px;
	margin-left:1%;
}
#index_brand_img1{
	margin-left:11%;
}
.index_brand_img img{
	width:100%;
	height:100%;
	float: left;
}
.index_brand_img p{
	font-size: 24px;
	font-weight: bolder;
	float:left;
	margin-top:-20px;
}
.index_soc_p a{
	 color: black;
    text-decoration: none;
/*    line-height: 56px;*/
}
.oldf{
	float: left;
/*	margin-top:500px ;*/
/*	margin-left:-500px ;*/
	width:1400px;
	height:325px;
	background: linear-gradient(to right,#F5F5F6 0%,white 48%,#F5F5F6 100% );
}
.oldf span{
	font-size: 25px;
	font-family: cursive;
}
.oldf_s{
	float: left;
	padding-left: -30px;
}
.oldf_s1{
	float: left;
	padding-top: 30px;
	padding-left: 200px;
}
.oldf_s2{
	float: left;
	padding-top: 30px;
	padding-left: 400px;
}
.oldf_alli{
	float: left;
	width: 1400px;
	height: 270px;
/*	background-color:yellow;*/
/*	margin-left: 100px;*/
	margin-top: 0px;
}
.oldf_i{
	float: left;
	/*margin-left: -700px;
	margin-top: 80px;*/
	width: 200px;
	height: 250px;
/*	background-color: red;*/
	padding-left: 33px;
}
.oldf_i{
	width:13%;
	height:100%;
	overflow: hidden;
}
.oldf_i img{
	width:100%;
	height:70%;
	transition: all 0.3s;
}
.oldf_i img:hover{
	transform: scale(1.2);
}
/*.oldf_i:hover~ .oldf_i span{
	color:  #848789;
}*/
.aboutf{
	float: left;
	width: 1450px;
	height:600px;
/*	background-color: green;*/
}
.aboutf_s{
	float: left;
	font-size: 25px;
	font-family: cursive;
}
.aboutf_i1{
	float: left;
	width: 350px;
	height:450px;
	margin-top: 70px;
	margin-left: -120px;
/*	background-color:yellow ;*/
}
.aboutf_i1 span{
	margin-left: 100px;
	font-size: 20px;
	font-family: cursive;
}
.aboutf_s1{
	float: left;
	padding-top:200px;
	padding-left:15px;
	font-size: 20px;
	font-family: cursive;
}
.aboutf_i2{
	float: left;
	width: 350px;
	height:450px;
	margin-top: 70px;
	margin-left: 10px;
}
.aboutf_i2 span{
	margin-left: 100px;
	font-size: 20px;
	font-family: cursive;
}
.bar_e{
	float: left;
	width: 1200px;
    height: 56px;
/*    background-color:green ;*/
    margin-top: 0px;
    margin-left:0px;
}
.bar_ul_e{
    list-style-type: none;
    padding: 0px;
    float: right;
    position: absolute;
/*   	margin-left: 195px;*/
   	margin-top: 00px;  	
}
.bar_ul_e li {
    width: 400px;
    height: 56px;
    text-align: center;
    float: left;
}
.bar_ul_e li a {
    color: #848789;
    text-decoration: none;
    line-height: 56px;
}